<!--
  WDean Medical is distributed under the
  GNU Lesser General Public License (GNU LGPL).
  For details see: http://www.wdeanmedical.com
  copyright 2013-2014 WDean Medical
--> 


<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modal-about" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body hidden-xs">
        <h1>EHR</H1>
        <h2><small>Domestic U.S.A. standards based Electronic Health Records</small></h2>
        <h3>Your Current Version Is  0.8.18</h3>
        <h4>Top Five Contributors:</h4>
        <label>Nick Sophinos nick@wdeanmedical.com</label><br/>
        <label>Bill Cole bill@wdeanmedical.com</label><br/>
        <label>Rajesh John</label><br/>
        <label>Bobby Daniel</label><br/>
        <label>Peter Nikolla</label><br/>
        &copy; 2013-2014 WDean Medical
      </div>
      <div class="modal-body visible-xs">
        <h2>EHR</H2>
        <h3><small>Domestic U.S.A. standards based Electronic Health Records</small></h3>
        <h4>Your Current Version Is  0.8.18</h4>
        <h5>Top Five Contributors:</h5>
        <label>Nick Sophinos nick@wdeanmedical.com</label><br/>
        <label>Bill Cole bill@wdeanmedical.com</label><br/>
        <label>Rajesh John</label><br/>
        <label>Bobby Daniel</label><br/>
        <label>Peter Nikolla</label><br/>
        &copy; 2013-2014 WDean Medical
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>