<div class="modal fade" id="access-denied-invalid-access-level" tabindex="-1" role="dialog" aria-labelledby="access-denied-invalid-access-level" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Access Denied</h4>
      </div>
      <div class="modal-body">
        <p><i class="icon icon-exclamation-circle icon-2x"></i> Invalid access level.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>    
      </div>
    </div>
  </div>
</div>