<div class="modal fade" id="modal-ekg" tabindex="-1" role="dialog" aria-labelledby="modal-ekg" aria-hidden="true">
  <div class="modal-dialog default-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-bolt icon-2x"></i> EKG</h4>
      </div>
      <div class="modal-body">
        <div class="row hidden-xs">
          <div class="col-md-12">
            <div class="chartheader">
              <div class="col-xm-6 col-sm-3">
                <p class="patient-chart-full-name"></p>
              </div>
              <div class="col-xm-6 col-sm-3 patient-chart-demographics">
                <p class="patient-chart-demographics"><label>Primary Phone:</label><span class="patient-chart-primary-phone patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Secondary Phone:</label><span class="patient-chart-secondary-phone patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Address:</label><span class="patient-chart-address patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics">
                  <label>City: </label> <span class="patient-chart-city patient-chart-demographics"></span>
                  <label>State: </label><span class="patient-chart-us-state patient-chart-demographics"></span>
                  <label>ZIP: </label><span class="patient-chart-postal-code patient-chart-demographics"></span>
                </p>
                <p class="patient-chart-demographics"><label>Email:</label><span class="patient-chart-email patient-chart-demographics"></span></p>
              </div>
              <div class="col-xm-6 col-sm-3 patient-chart-demographics">
                <p class="patient-chart-demographics"><label>Next Appointment:</label><span class="patient-chart-next-appt patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Last Appointment:</label><span class="patient-chart-last-appt patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>DOB:</label><span class="patient-chart-dob patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>MRN:</label> <span class="patient-chart-mrn patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Gender:</label><span class="patient-chart-gender patient-chart-demographics"></span>
              </div>
              <div id="headshot-div5" class="col-xm-6 col-sm-3">
                <label class="pull-right">Active <i class="icon-check-sign icon-2x"></i></label>
                <img src="images/headshot-placeholder.jpg" class="pull-right img-responsive img-rounded headshot patient-chart-headshot" alt="Patient Photo">
              </div>
            </div>
          </div>
        </div>
        <div class="row visible-xs">
          <div class="panel panel-default chartheader">
            <div class="panel-body">
              <div class="col-xs-12">
                <div class="col-xs-6">
                  <p class="patient-chart-full-name"></p>
                  <p><label>Next Appointment:</label><span class="patient-chart-next-appt"></span></p>
                  <p><label>Gender:</label><span class="patient-chart-gender"></span></p> 
                  <p><label>ID#:</label> <span class="patient-chart-mrn"></span></p>
                  <p><label>DOB:</label><span class="patient-chart-dob"></span></p> 
                </div>
                <div id="headshot-div6" class="col-xs-6">
                  <p><label>Active <i class="icon-check-sign icon-2x"></i></label>
                  <img src="images/headshot-placeholder.jpg" class="patient-chart-headshot img-responsive img-rounded" alt="Patient Photo"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <a href="#" id="btn-ekg-qt-auto" class="btn btn-primary btn-block" data-dismiss="modal">QT Auto</a>
              <a href="#" id="btn-ekg-print" class="btn btn-info btn-block" data-dismiss="modal">Print</a>
              <a href="#" id="btn-ekg-fax" class="btn btn-info btn-block" data-dismiss="modal">Fax</a>
              <a href="#" id="btn-ekg-image" class="btn btn-info btn-block" data-dismiss="modal">Image</a>
              <a href="#" id="btn-ekg-spelling" class="btn btn-info btn-block" data-dismiss="modal">Spelling</a>
              <a href="#" id="btn-ekg-incert-table" class="btn btn-success btn-block" data-dismiss="modal">Incert Table</a>
              <a href="#" id="btn-ekg-em-codes" class="btn btn-warning btn-block" data-dismiss="modal">EM Codes</a>
            </div>
            <div class="col-md-10">
              <div class="panel panel-default">
							  <div class="panel-body">
							    <img class="img-responsive" src="images/ECG.jpg" alt="">
							    <label>Notes:</label>
							    <textarea class="form-control" rows="3"></textarea>
							  </div>
							</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" id="btn-ekg-ok" class="btn btn-success btn-lg" data-dismiss="modal">Ok</a>
        <a href="#" id="btn-ekg-cancel" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>