<div class="modal fade" id="modal-follow-up" tabindex="-1" role="dialog" aria-labelledby="modal-follow-up" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-reply icon-2x"></i> Follow-Up Form<h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <form role="form">
	          <div class="row">
	            <div class="col-md-12">
	              <h5 class="modal-sub-title">Details</h5>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-6">
	              <div class="form-group">
	                <label for="follow-up-todays-date">Today's Date</label>
	                <input id="follow-up-todays-date" type="text" class="form-control" readonly="readonly"/>
	              </div>
	            </div>
	            <div class="col-md-6">
	              <div class="form-group">
	                <label for="follow-up-location">Location</label>
	                <input type="text" class="form-control" id="follow-up-location" placeholder=""/>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-4">
	              <div class="form-group">
	                <label for="follow-up-nombre">Nombre</label>
	                <input type="text" class="form-control" id="follow-up-nombre" placeholder=""/>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="form-group">
	                <label for="follow-up-apellido">Apellido</label>
	                <input type="text" class="form-control" id="follow-up-apellido" placeholder=""/>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="form-group">
	                <label for="follow-up-apellido-segundo">Apellido Segundo</label>
	                <input type="text" class="form-control" id="follow-up-apellido-segundo" placeholder=""/>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-6">
	              <div class="form-group">
	                <label for="follow-up-age">Age</label>
	                <input type="text" class="form-control" id="follow-up-age" placeholder=""/>
	              </div>
	            </div>
	            <div class="col-md-6">
	              <div class="form-group">
	                <label for="follow-up-mother-name">Mother Name (if applicable)</label>
	                <input type="text" class="form-control" id="follow-up-mother-name" placeholder=""/>
	              </div>
	            </div>
	          </div>     
	          <div class="row">
	            <div class="col-md-12">
	              <div class="form-group">
	                <label for="follow-up-reason">Reason For This Follow-Up</label>
	                <textarea id="follow-up-reason" class="form-control" rows="5"></textarea>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-12">
	              <div class="form-group">
	                <label for="follow-up-actions-taken">Actions Taken Today</label>
	                <textarea id="follow-up-actions-taken" class="form-control" rows="5"></textarea>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-12">
	              <div class="form-group">
	                <label for="follow-up-to-be-done-next">To Be Done Next</label>
	                <textarea id="follow-up-to-be-done-next" class="form-control" rows="5"></textarea>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-12">
	              <div class="form-group">
	                <label for="follow-up-to-be-done-when">When</label>
	                <input type="text" class="form-control" id="follow-up-to-be-done-when" placeholder=""/>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-md-12">
	              <label class="sub-title">Follow-Up Completed</label>
	            </div>
	            <div class="form-group">
	              <div class="col-md-2">
	                <div class="radio"><label><input type="radio" name="follow-up-completed" value="yes"/>Yes</label></div>
	              </div>
	              <div class="col-md-2">
	                <div class="radio"><label><input type="radio" name="follow-up-completed" value="no"/>No</label></div>
	              </div>
	            </div>
	          </div>
	        </form>
	      </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success btn-lg" href="#">Save</a>
        <a id="follow-up-print" class="btn btn-primary btn-lg" href="#">Print</a>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>