<div class="modal fade" id="images-all-chart-sections" tabindex="-1" role="dialog" aria-labelledby="images-all-chart-sections" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-picture icon-2x"></i> Images "All Chart Sections"</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="modal-sub-title">Image List</div>
              <div class="panel panel-default">
                <div class="panel-body images-all-chart-sections-list">
                  <div id="images-all-chart-sections-list" class="table-responsive"></div>
                </div>
                <div class="panel-footer">
                <a href="#" id="btn-images-all-chart-sections-new" class="btn btn-success" data-dismiss="modal">New</a>
                <a href="#" id="btn-images-all-chart-sections-rename" class="btn btn-default" data-dismiss="modal">Rename</a>
                <a href="#" id="btn-images-all-chart-sections-delete" class="btn btn-default" data-dismiss="modal">Delete</a>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" id="btn-images-all-chart-sections-ok" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</a>
        <a href="#" id="btn-images-all-chart-sections-cancel" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</a>
               
      </div>
    </div>
  </div>
</div>