<div class="modal fade" id="modal-new-problem" tabindex="-1" role="dialog" aria-labelledby="modal-new-problem" aria-hidden="true">
  <div class="modal-dialog default-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Major Problems "New"</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputMajorProblem" class="col-sm-3 control-label">Major Problem</label>
                    <div class="col-sm-8">
                      <div class="input-group">
                        <input type="text" class="form-control input-sm" id="inputMajorProblem" placeholder="">
                        <span class="input-group-btn"><button class="btn btn-default btn-sm" type="button">Search</button></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputProblem" class="col-sm-3 control-label">Problem #</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputProblem" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputProvider" class="col-sm-3 control-label">Provider</label>
                    <div class="col-sm-8">
                      <select class="form-control">
                        <option>A</option>
                        <option>AAA</option>
                        <option>ABC</option>
                        <option>BBB</option>
                        <option>CCC</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExternalProv" class="col-sm-3 control-label">External Prov</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="inputExternalProv">
                        <option>A</option>
                        <option>AAA</option>
                        <option>ABC</option>
                        <option>BBB</option>
                        <option>CCC</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputActive/Inactive" class="col-sm-3 control-label">Active/Inactive</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="inputActive/Inactive">
                        <option>Active</option>
                        <option>Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputLifecycle" class="col-sm-3 control-label">Lifesycle</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="inputLifecycle">
                        <option>Improving</option>
                        <option>Stabel</option>
                        <option>Worsening</option>
                        <option>Resolved</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6"> 
                  <div class="form-group">
                    <label for="inputDate1" class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputDate1" placeholder="00/00/0000">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDateLast" class="col-sm-3 control-label">Date Last</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputDateLast" placeholder="00/00/0000">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDateResolved" class="col-sm-3 control-label">Date Resolved</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputDateResolved" placeholder="00/00/0000">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputIndent" class="col-sm-3 control-label">Indent</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="inputIndent">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputRelatedTo" class="col-sm-3 control-label">Related To</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputRelatedTo" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputNote" class="col-sm-3 control-label">Note</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="inputNote" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCode1" class="col-sm-3 control-label">Code1</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="inputCode1" placeholder="">
                    <span class="input-group-btn"><button class="btn btn-default btn-sm" type="button">Search</button></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputCodeSys" class="col-sm-3 control-label">Code Sys</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-sm" id="inputCodeSys" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCoSysVer1" class="col-sm-3 control-label">Code Sys Ver</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-sm" id="inputCoSysVer1" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-sm-6"> 
              <div class="form-group">
                <label for="inputCode2" class="col-sm-3 control-label">Code2</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="inputCode2" placeholder="">
                    <span class="input-group-btn"><button class="btn btn-default btn-sm" type="button">Search</button></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputCodesys" class="col-sm-3 control-label">Code Sys</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-sm" id="inputCodesys" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCoSysVer2" class="col-sm-3 control-label">Code Sys Ver</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-sm" id="inputCoSysVer2" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-success btn-lg app-patient-chart-link" data-dismiss="modal">Save</a>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>