<div class="modal fade" id="modal-intake-group" tabindex="-1" role="dialog" aria-labelledby="modal-intake-group" aria-hidden="true">
  <div id="size3" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Intake Group</h4>
      </div>
      <div class="modal-body" style="min-height:350px">
      
       <div class="table-responsive">
        <table class="table table-bordered intake-form">
          <thead>
            <tr>
              <th width="80">Biometrics</th>
              <th>Nombre</th>
              <th>Primier Apellido</th>
              <th>Segundo Apellido</th>
              <th width="40">Sex</th>
              <th width="50">Age</th>
              <th width="40">Triage</th>
              <th width="250">Notes</th>
              <th width="80">Check In</th>
              <th width="60">Intake</th>
              <th width="70">Provider</th>
              <th width="60">Missing</th>
              <th width="40">Cmp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" id="patient-intake-biometrics" style="width:40px;margin:auto" maxlength="3"></td>
              <td><input type="text" class="form-control" id="patient-intake-nombre"></td>
              <td><input type="text" class="form-control" id="patient-intake-apellido"></td>
              <td><input type="text" class="form-control" id="patient-intake-apellido-segundo"></td>
              <td><input type="text" class="form-control" id="patient-intake-gender" maxlength="1"></td>
              <td><input type="text" class="form-control" id="patient-intake-age" maxlength="3"></td>
              <td><input type="text" class="form-control" id="patient-intake-triage" style="width:25px;margin:auto" maxlength="1"></td>
              <td class="patient-notes"><textarea id="patient-intake-notes" class="form-control input-sm" rows="2"></textarea></td>
              <td><span id="patient-intake-check-in" class="badge badge-primary toggle-badge"><i class="icon-ok icon-hidden"></i></span></td>
              <td><span id="patient-intake-intake" class="badge badge-primary toggle-badge"><i class="icon-ok"></i></span></td>
              <td><span id="patient-intake-provider" class="badge badge-primary toggle-badge"><i class="icon-ok"></i></span></td>
              <td id="patient-intake-missing" class="patient-missing-control"><input class="patient-missing-checkbox" type="checkbox" name="missing" style="toggle-missing"></td>
              <td><span id="patient-intake-completed" class="badge badge-success toggle-badge"><i class="icon-ok"></i></span></td>
            </tr>
          </tbody>
        </table>
        
        <button id="app-check-in-add-patient-link" type="button" class="btn btn-default">
          <i class="icon-user icon-lg"></i> Add Patient
        </button>
      </div>
     
  <div style="height:50px"></div>    
          
  <div class="ttop">Current Patient Group</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table id="new-patient-group-table" class="table table-bordered">
          <thead>
            <tr>
              <th width="50">Bio</th>
              <th>Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th width="50">Sex</th>
              <th width="40">Age</th>
              <th width="40">Trg</th>
              <th width="250">Notes</th>
              <th width="50">Check</th>
              <th width="50">Intake</th>
              <th width="50">Prov</th>
              <th width="40">Miss</th>
              <th width="40">Cmp</th>
              <th width="60">Remove</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <row>
    <div class="col-md-2">
      <label for="intake-gov-id">Group Name</label>
      <input type="text" class="form-control" id="intake-new-group-name" style="width:200px">
    </div>
  </row>
 </div>
      <div class="modal-footer">
        <button id="btn-patient-intake-cancel-new-group" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="btn-patient-intake-save-new-group" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>