<div class="intake-groups" id="intake-groups">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul id="app-intake-group-tabs" class="nav nav-tabs nav-justified"></ul>                   
            </div>
          </div>
          <div id="app-intake-group-tabs-content" class="tab-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>