<div class="chartheader clearfix">
  <div class="col-xm-6 col-sm-3">
    <p class="patient-chart-full-name"></p>
  </div>
  <div class="col-xm-6 col-sm-3 patient-chart-demographics">
    <p class="patient-chart-demographics"><label>Primary Phone:</label><span class="patient-chart-primary-phone patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>Secondary Phone:</label><span class="patient-chart-secondary-phone patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>Address:</label><span class="patient-chart-address patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics">
      <label>City: </label> <span class="patient-chart-city patient-chart-demographics"></span>
      <label>State: </label><span class="patient-chart-us-state patient-chart-demographics"></span>
      <label>ZIP: </label><span class="patient-chart-postal-code patient-chart-demographics"></span>
    </p>
    <p class="patient-chart-demographics"><label>Email:</label><span class="patient-chart-email patient-chart-demographics"></span></p>
  </div>
  <div class="col-xm-6 col-sm-3 patient-chart-demographics">
    <p class="patient-chart-demographics"><label>Next Appointment:</label><span class="patient-chart-next-appt patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>Last Appointment:</label><span class="patient-chart-last-appt patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>DOB:</label><span class="patient-chart-dob patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>MRN:</label> <span class="patient-chart-mrn patient-chart-demographics"></span></p>
    <p class="patient-chart-demographics"><label>Gender:</label><span class="patient-chart-gender patient-chart-demographics"></span>
  </div>
  <div id="headshot-div5" class="col-xm-6 col-sm-3">
    <label class="pull-right">Active <i class="icon-check-sign icon-2x"></i></label>
    <img src="images/headshot-placeholder.jpg" class="pull-right img-responsive img-rounded headshot patient-chart-headshot" alt="Patient Photo">
  </div>
</div>