<div class="modal fade" id="modal-supp" tabindex="-1" role="dialog" aria-labelledby="modal-supp" aria-hidden="true">
  <div class="modal-dialog default-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-question-sign icon-2x"></i> Supplemental Questions</h4>
      </div>
      <div class="modal-body">
        <div class="row hidden-xs">
          <div class="col-md-12">
            <div class="chartheader">
              <div class="col-xm-6 col-sm-3">
                <p class="patient-chart-full-name"></p>
              </div>
              <div class="col-xm-6 col-sm-3 patient-chart-demographics">
                <p class="patient-chart-demographics"><label>Primary Phone:</label><span class="patient-chart-primary-phone patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Secondary Phone:</label><span class="patient-chart-secondary-phone patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Address:</label><span class="patient-chart-address patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics">
                  <label>City: </label> <span class="patient-chart-city patient-chart-demographics"></span>
                  <label>State: </label><span class="patient-chart-us-state patient-chart-demographics"></span>
                  <label>ZIP: </label><span class="patient-chart-postal-code patient-chart-demographics"></span>
                </p>
                <p class="patient-chart-demographics"><label>Email:</label><span class="patient-chart-email patient-chart-demographics"></span></p>
              </div>
              <div class="col-xm-6 col-sm-3 patient-chart-demographics">
                <p class="patient-chart-demographics"><label>Next Appointment:</label><span class="patient-chart-next-appt patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Last Appointment:</label><span class="patient-chart-last-appt patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>DOB:</label><span class="patient-chart-dob patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>MRN:</label> <span class="patient-chart-mrn patient-chart-demographics"></span></p>
                <p class="patient-chart-demographics"><label>Gender:</label><span class="patient-chart-gender patient-chart-demographics"></span>
              </div>
              <div id="headshot-div5" class="col-xm-6 col-sm-3">
                <label class="pull-right">Active <i class="icon-check-sign icon-2x"></i></label>
                <img src="images/headshot-placeholder.jpg" class="pull-right img-responsive img-rounded headshot patient-chart-headshot" alt="Patient Photo">
              </div>
            </div>
          </div>
        </div>
        <div class="row visible-xs">
          <div class="panel panel-default chartheader">
            <div class="panel-body">
              <div class="col-xs-12">
                <div class="col-xs-6">
                  <p class="patient-chart-full-name"></p>
                  <p><label>Next Appointment:</label><span class="patient-chart-next-appt"></span></p>
                  <p><label>Gender:</label><span class="patient-chart-gender"></span></p> 
                  <p><label>ID#:</label> <span class="patient-chart-mrn"></span></p>
                  <p><label>DOB:</label><span class="patient-chart-dob"></span></p> 
                </div>
                <div id="headshot-div6" class="col-xs-6">
                  <p><label>Active <i class="icon-check-sign icon-2x"></i></label>
                  <img src="images/headshot-placeholder.jpg" class="patient-chart-headshot img-responsive img-rounded" alt="Patient Photo"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
         <div class="pull-right">
          <button id="patient-supp-prev-btn" class="btn btn-default encounter-group-up navbar-btn navbar-link" type="button"><i class="icon-chevron-left"></i></button>
          <span id="patient-supp-date"></span>
          <button id="patient-supp-next-btn" class="btn btn-default encounter-group-down navbar-btn navbar-link" type="button"><i class="icon-chevron-right"></i></button>
        </div>
        <div class="container-fluid">
          <div class="row">
	          <div class="col-md-12">
	            <h5 class="modal-sub-title">Cups per day?</h5>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-md-3">
	            <div class="form-group">
	              <label for="num-cups-water">Water</label>
	              <div class="form-control-saved" id="num-cups-water"></div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="form-group">
	              <label for="num-cups-coffee">Coffee</label>
	              <div class="form-control-saved" id="num-cups-coffee"></div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="form-group">
	              <label for="num-cups-tea">Tea</label>
	              <div class="form-control-saved" id="num-cups-tea"></div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="form-group">
	              <label for="water-source">Water Source</label>
	              <div class="form-control-saved" id="water-source"></div>
	            </div>
	          </div>
	        </div>
	      </div>
        <div id="questions"></div>
      </div>
      <div class="modal-footer">
        <a href="#" id="btn-supp-ok" class="btn btn-success btn-lg" data-dismiss="modal">Save</a>
        <a id="patient-supp-print" class="btn btn-primary btn-lg">Print</a>
        <a href="#" class="btn btn-default btn-lg" data-dismiss="modal">Close</a>        
      </div>
    </div>
  </div>
</div>