 <!--
  WDean Medical is distributed under the
  GNU Lesser General Public License (GNU LGPL).
  For details see: http://www.wdeanmedical.com
  copyright 2013-2014 WDean Medical
--> 

    <div class="modal fade" id="modal-admin-user-details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="fa fa-user fa-2x"></i> View/Edit User Details</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstName" class="col-sm-5 control-label">First Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" id="firstName" placeholder="">
                    </div>
                    <label for="firstName" class="col-sm-1 control-label">MI</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control input-sm" id="firstName" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lastName" class="col-sm-5 control-label">Last Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="lastName" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="userID" class="col-sm-5 control-label">User ID</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="userID" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="groupName" class="col-sm-5 control-label">Group Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="groupName" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="practiceName" class="col-sm-5 control-label">Practice Name</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="practiceName" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="role" class="col-sm-5 control-label">Role</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="role" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-5 control-label">Password</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="password" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword" class="col-sm-5 control-label">Confirm Password</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-sm" id="confirmPassword" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="primaryPhone" class="col-sm-5 control-label">Primary Phone</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="primaryPhone" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="secondaryPhone" class="col-sm-5 control-label">Secondary Phone</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="secondaryPhone" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="credential" class="col-sm-5 control-label">Credential</label>
                    <div class="col-sm-6">
                      <select id="credential" class="form-control input-sm">
                        <option>Choose</option>
                        <option>MD</option>
                        <option>PhD</option>
                        <option>MD PhD</option>
                        <option>RN</option>
                        <option>RN PhD</option>
                        <option>RN MSN</option>
                        <option>MA/MS</option>
                        <option>MPH</option>
                        <option>NP</option>
                        <option>PA</option>
                        <option>Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title" class="col-sm-5 control-label">Title</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="title" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="fax" class="col-sm-5 control-label">Fax</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="fax" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pager" class="col-sm-5 control-label">Pager</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="pager" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-5 control-label">Email</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="email" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="emailConfirm" class="col-sm-5 control-label">Confirm Email</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control input-sm" id="emailConfirm" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default">Print</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>