<div class="modal fade" id="modal-vital-signs" tabindex="-1" role="dialog" aria-labelledby="modal-vital-signs" aria-hidden="true">
  <div id="size3" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-stethoscope icon-2x"></i> Vital Signs</h4>
      </div>
      <div class="modal-body">
        <div class="row hidden-xs">
          <div class="col-md-12">
            <div class="chartheader">
              <div class="col-xm-6 col-sm-3">
                <p class="patient-chart-full-name"></p>
              </div>
              <div class="col-xm-6 col-sm-3">
                <p><label>Next Appointment:</label><span class="patient-chart-next-appt"></span></p>
                <p><label>Sex:</label><span class="patient-chart-gender"></span> 
              </div>
              <div class="col-xm-6 col-sm-3">
                <p><label>ID#:</label> <span class="patient-chart-mrn"></span></p>
                <p><label>DOB:</label><span class="patient-chart-dob"></span></p>
              </div>
              <div id="headshot-div" class="col-xm-6 col-sm-3">
                <label class="pull-right">Active <i class="icon-check-sign icon-2x"></i></label>
                <img src="images/headshot-placeholder.jpg" class="pull-right img-responsive img-rounded headshot patient-chart-headshot" alt="Patient Photo">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
			        <div class="pull-right">
			          <button id="patient-vitals-prev-btn" class="btn btn-default intake-group-up navbar-btn navbar-link" type="button"><i class="icon-chevron-left"></i></button>
			          <span id="patient-vitals-date"></span>
			          <button id="patient-vitals-next-btn" class="btn btn-default intake-group-down navbar-btn navbar-link" type="button"><i class="icon-chevron-right"></i> </button>
			        </div>
		        </div>
	        </div>
	        <br>
	        <div class="row">
	          <div class="col-sm-2">
	            <div class="form-group">
	              <label for="vitals-height">Height (cm)</label>
	              <div class="form-control-saved" id="vitals-height">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-2">
	            <div class="form-group">
	              <label for="vitals-weight">Weight (kg)</label>
	              <div class="form-control-saved" id="vitals-weight">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-1">
	            <div class="form-group">
	              <label for="vitals-sys">SYS</label>
	              <div class="form-control-saved" id="vitals-sys">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-1">
	            <div class="form-group">
	              <label for="vitals-dia">DIA</label>
	              <div class="form-control-saved" id="vitals-dia">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-1">
	            <div class="form-group">
	              <label for="vitals-hr">HR</label>
	              <div class="form-control-saved" id="vitals-hr">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-1">
	            <div class="form-group">
	              <label for="vitals-rr">RR</label>
	              <div class="form-control-saved" id="vitals-rr">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-2">
	            <div class="form-group">
	              <label for="vitals-temp">Temp (C)</label>
	              <div class="form-control-saved" id="vitals-temp">&nbsp;</div>
	            </div>
	          </div>
	          <div class="col-sm-2">
	            <div class="form-group">
	              <label for="vitals-arm">Arm (cm)</label>
	              <div class="form-control-saved" id="vitals-arm">&nbsp;</div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
      <div class="modal-footer">
        <a href="#" id="btn-vital-signs-close" class="btn btn-success btn-lg" data-dismiss="modal">Save</a>
        <a id="patient-vitals-print" class="btn btn-primary btn-lg">Print</a>
        <a href="#" id="btn-vital-signs-close" class="btn btn-default btn-lg" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>