<div class="modal fade" id="modal-x-ray" tabindex="-1" role="dialog" aria-labelledby="modal-x-ray" aria-hidden="true">
  <div class="modal-dialog default-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon-film icon-large"></i> X-Ray</h4>
      </div>
      <div class="modal-body">
        <div class="row hidden-xs">
          <div class="col-md-12">
            <div id="place_template"></div>
            <script>
              (function(){
                RenderUtil.render('patient_chart_header', {}, function(s) {
                  $('#place_template').html(s);
                  loadPatientChartHeaderInfo();
                });
              })();
            </script>
          </div>
        </div>
        <div class="row visible-xs">
          <div class="panel panel-default chartheader">
            <div class="panel-body">
              <div class="col-xs-12">
                <div class="col-xs-6">
                  <p class="patient-chart-full-name"></p>
                  <p><label>Next Appointment:</label><span class="patient-chart-next-appt"></span></p>
                  <p><label>Gender:</label><span class="patient-chart-gender"></span></p> 
                  <p><label>ID#:</label> <span class="patient-chart-mrn"></span></p>
                  <p><label>DOB:</label><span class="patient-chart-dob"></span></p> 
                </div>
                <div id="headshot-div6" class="col-xs-6">
                  <p><label>Active <i class="icon-check-sign icon-2x"></i></label>
                  <img src="images/headshot-placeholder.jpg" class="patient-chart-headshot img-responsive img-rounded" alt="Patient Photo"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <class="container-fluid">
	        <div class="row">
	          <div class="col-sm-2">
	            <a href="#" id="btn-x-ray-qt-auto" class="btn btn-primary btn-block" data-dismiss="modal">QT Auto</a>
	            <a href="#" id="btn-x-ray-print" class="btn btn-info btn-block" data-dismiss="modal">Print</a>
	            <a href="#" id="btn-x-ray-fax" class="btn btn-info btn-block" data-dismiss="modal">Fax</a>
	            <a href="#" id="btn-x-ray-image" class="btn btn-info btn-block" data-dismiss="modal">Image</a>
	            <a href="#" id="btn-x-ray-spelling" class="btn btn-info btn-block" data-dismiss="modal">Spelling</a>
	            <a href="#" id="btn-x-ray-incert-table" class="btn btn-success btn-block" data-dismiss="modal">Incert Table</a>
	            <a href="#" id="btn-x-ray-em-codes" class="btn btn-warning btn-block" data-dismiss="modal">EM Codes</a>
	            <br>
	          </div>
	          <div class="col-sm-10">
	            <div class="panel panel-default">
							  <div class="panel-body">
							    <div class="row">
							      <div class="col-sm-4">
									    <img class="img-responsive" src="images/x-ray-brain.jpg" alt="">
									    <label>Notes:</label>
									    <textarea class="form-control" rows="3"></textarea>
									  </div>
									  <div class="col-sm-4">
									    <img class="img-responsive" src="images/Chest_Xray.png" alt="">
									    <label>Notes:</label>
									    <textarea class="form-control" rows="3"></textarea>
									  </div>
									  <div class="col-sm-4">
									    <img class="img-responsive" src="images/X-ray-tec.jpg" alt="">
									    <label>Notes:</label>
									    <textarea class="form-control" rows="3"></textarea>
									  </div>
							    </div>
							  </div>
							</div>
	          </div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <a href="#" id="btn-x-ray-ok" class="btn btn-success btn-lg" data-dismiss="modal">Ok</a>
	        <a href="#" id="btn-x-ray-cancel" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</a>
	      </div>
	    </div>
    </div>
  </div>
</div>