/*
 * WDean Medical is distributed under the
 * GNU Lesser General Public License (GNU LGPL).
 * For details see: http://www.wdeanmedical.com
 * copyright 2013-2014 WDean Medical
 */
 
 
 /* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: "Segoe UI", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
  margin-top: 48px;
  background-color: #f8f8f8;
  max-width: 1500px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI Light", "Open Sans Light" ,Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-top: 5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.initially-no-display {
  display: none;
}
.table-row-highlight {
    background-color: #9DB8D9;
}
td.simple-data-table-footer p {
    margin: 0px;
}
.form-control {
   padding: 0px 0px 0px 5px;
   font-size: 1em;
}
a {
  color: #777;
}
.panel-top {
  padding: 5px 0px 5px 10px;
  margin-top: 3px;
  background-color: #2a6496;
  color: #fff;
  font-size: 1.15em;
  border: 1px solid transparent;
  border-radius: 8px 8px 0px 0px;
}
.panel-bottom {
  display: block;
  background-color: #2a6496;
  color: #fff;
  padding: 15px 10px 15px 10px;
  border: 1px solid transparent;
  border-radius: 0px 0px 8px 8px;
}

#cloak {
  visibility: hidden;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  min-height: 40px;
  background-color: #fff;
}
.navbar-brand {
  height: 10px;
  padding: 15px 25px 15px 10px;
  line-height: 10px;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 10px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-text {
  margin: 8px 5px 0px 10px;
}
.navbar-toggle {
  padding: 5px 8px;
}
#wdm-notification {
	color: red;
	font-size: 1em;
	margin-top: 5px;	
}
.sub-navbar {
  height: 15px;
  margin-top: 48px;
  background-color: #2a6496;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  opacity: 0.95;
  border: 1px solid transparent;
  z-index: 999;
}
button .clear-stop, button .clear-stop i {
  opacity: 1.0;
}

/* CUSTOMIZE THE MODALS
-------------------------------------------------- */
.modal {
  max-width: 1450px;  
}

ul.nav-tabs {
  font-size: 1.15em;
  font-weight: bold;
}

.default-modal-width {
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.medium-modal-width {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.narrow-modal-width {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.modal-header {
  background-color: #2a6496;
  color: #fff;
}
.modal-title {
  font-size: 1.75em;
  margin: 0px;
  padding: 0px;
}
.modal-sub-title {
  font-size: 1.5em;
  color: #2a6496;
  font-family: "Segoe UI Light", "Open Sans Light" ,Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.search-panel {
  background-color: #f8f8f8;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.search-btn {
  margin-top: 15px;
}
#filter {
  margin-top: 5px;
}
.dropdown-menu {
  padding: 15px; 
  padding-bottom: 10px;
}
#app-signin-username {
  margin-bottom: 10px;
}
#app-signin-password {
  margin-bottom: 5px;
}
#plchld {
  margin-bottom: 8px;
}
#modal-new-message .input-group {
  margin-bottom: 5px;
}
#patient-search-results, .health-maintenance-summary, .vital-signs-list, .images-all-chart-sections-list {
  min-height: 200px;
}
#btn-health-maintenance-summary-immun, #btn-health-vital-signs-print {
  margin-right: 10px;
}
.close {
  color: #fff;
  opacity: 1.0;
}
.tabbable li a {
  color: #fff;
  font-weight: 300;
  background-color: #999999;
  border: 1px solid #ddd;
}
.encounter-navbar-btn {
  margin-right: 10px;
  margin-top: 15px;
}


/* CUSTOMIZE THE MAIN NAVIGATON
-------------------------------------------------- */
a.nav:link, a.nav:visited {
  font-size: .70em;
  color: #999999;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 5px;
  margin-top: 45px;
}
a.nav:hover {
  color: #fff;
  background-color: #2a6496;
}
a.nav:active {
  color: #fff;
  background-color: #999999;
}
a.nav p, i{
  padding: 1px 0px 1px 0px;
  margin: 0px;
}
a.nav-xm:link, a.nav-xm:visited {
  display:block;
  margin-left: -20px;
  margin-right: -20px;
  padding: 7.5px 20px 7.5px 20px;
  text-decoration: none;
  color: #999999;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #fff;
}
a.nav-xm:hover {
  color: #fff;
  background-color: #2a6496;
}
a.nav-xm:active {
  color: #fff;
  background-color: #999999;
}
.visible-xs .icon-remove, .visible-xs .icon-lock {
  padding-left: 6px;
}
a.nav-selected:link, a.nav-selected:visited {
  font-size: .70em;
  color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #2a6496;
  margin-bottom: 5px;
  margin-top: 45px;
}
a.nav-selected:hover {
  color: #fff;
  background-color: #2a6496;
}
a.nav-selected:active {
  color: #fff;
  background-color: #999999;
}
a.nav-selected p, i{
  padding: 1px 0px 1px 0px;
  margin: 0px;
}
a.nav-selected-xm:link, a.nav-selected-xm:visited {
  display:block;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #2a6496;
}
a.nav-selected-xm:hover {
  color: #fff;
  background-color: #2a6496;
}
a.nav-selected-xm:active {
  color: #fff;
  background-color: #999999;
}
.page-name {
  color: #999999;
  margin-top: 50px;
}
.page-name-sm {
  color: #999999;
}

/* PATIENT CHART SCREEN
-------------------------------------------------- */
.chartheader {
  display: block;
  min-height: 130px;
  font-size: 1em;
  margin: 3px 0px 3px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  color: #999999;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.patient-chart-full-name { 
	font-size: 1.5em; 
}

span.patient-chart-demographics { 
  padding-left: 3px;
  padding-right: 5px;
}

p.patient-chart-demographics { 
  margin: 0px 0px 0px;
}

.patient-chart-demographics { 
  font-size: 1.0em; 
}

.patient-chart-next-appt, .patient-chart-gender, .patient-chart-mrn, .patient-chart-dob, .patient-chart-primary-phone, .patient-chart-secondary-phone { 
  padding-left: 5px;	 
}
i.icon-check-sign {
  color: #5cb85c;
}
.headshot {
  width:100px;
  margin-right: 2%;
}
.pc-tile {
  color: #fff;
}
.chart-tile-sm {
  font-size: .75em;
}
.pc-tile .panel-default {
  margin: 3.5px 0px 3.5px 0px;
}
.pc-tile .visible-sm {
  font-size: .75em
}
a.pc-tile:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2a6496;
} 
.color1 {
	background-color: #428bca;
}
.color1 a {
	color: #fff;
	text-decoration: none;
}
.color2 {
	background-color: #5cb85c;
}
.color2 a {
	color: #fff;
	text-decoration: none;
}
.color3 {
	background-color: #f0ad4e;
}
.color3 a {
	color: #fff;
	text-decoration: none;
}
.color4 {
	background-color: #d9534f;
}
.color4 a {
	color: #fff;
	text-decoration: none;
}
.color5 {
	background-color: #5bc0de;
}
.color5 a {
	color: #fff;
	text-decoration: none;
}
.color6 {
	background-color: #563d7c;
}
.color6 a {
	color: #fff;
	text-decoration: none;
}

/* Sign In
-------------------------------------------------- */

.main-panel {
  background: url(../images/ehr-background.jpg) no-repeat; 
  background-size: cover;
  border-radius: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #2a6496;
  border-bottom: 1px solid #2a6496;
}
.background-op {
  background-color: rgba(255,255,255,0.8);
  margin: 0px;
}
.page-head {
  font-size: 1em;
  text-align: justify;
}
.page-head-sm {
  font-size: .75em;
  text-align: justify;
}
.page-title {
  font-size: 3em;
}
.page-title-sm {
  font-size: 2em;
}
.news {
  color: #000;
  font-size: 1.5em;
  margin-bottom: 2%;
}
#app-signin-username, #app-signin-password {
  font-size: 1.5em;
}
#name {
  font-size: 2em;
}
#pnote {
  background-color: #999999;
  border: none;
}
#phead {
  background-color: #303030;
  color: white;
  border: none;
}

#contact {
  color: #999999;
  font-size: 1em;
  background-color: #fff;
  padding: 7px 0px 0px 10px;
  line-height: 10px;
  padding-bottom: 5px;
}
#contact p {
  padding: 10px 0px 10px 0px;
}
.logo {
  margin-right: 2%
}

.app-calendar {
  text-align: center;
  font-size: 1em;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  width: auto;
  margin: 0px;
}
#message-content {
  min-height: 270px;
  padding: 10px 0px 20px 0px;
  font-size: 1em;
}
.collapse-arrow {
  padding-right: 20px;
}
.sub-title {
  font-size: 1.25em;
  color: #2a6496;
}
.follow-up {
  padding-bottom: 0px;
}
.follow {
  padding-top: 5px;
}
#chart-encounters-list table {
  background-color: #fff;
}
#encounter-groups .nav-tabs.nav-justified > li > a {
  text-align: left;
}
#encounter-groups .nav-tabs a:hover {
  color: #fff;
}
#encounter-groups .nav-tabs > li > a {
  background-color: #f0ad4e;
  color: #fff;
  padding: 5px 8px 8px 8px;
  margin-bottom: -10px;
  margin-top: 5px;
  border: 1px solid #dddddd;
}
#encounter-groups .nav-tabs > li > a:hover {
  background-color: #563d7c;
  color: #fff;
  padding: 5px 8px 3px 8px;
}
#encounter-groups .nav-tabs > li.active > a {
  background-color: #563d7c;
}

#check-in-list thead {
  background-color: #563d7c;
  color: #fff;
}
#check-in-list th, td {
  text-align: center;
}
.chk-list-label {
  padding: 5% 30% 5% 30%;
}
.tri {
  padding: 5% 30% 5% 30%;
  text-align: center;
}
.badge-danger {
  background-color: #d9534f;
}
.primary{
  background-color: #d9edf7;
}
.badge-primary {
  background-color: #3276b1;
}
.badge-success {
  background-color: #5CB85C;
}
.btn-link {
  font-size: 1.5em;
}


/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
footer {
  padding: 2% 0% 5% 0%;
}
footer h6 {
  font-size: 1em;
}
footer ul {
  font-size: .75em;
  color: #999999;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -.15em;
}
footer li a {
  color: #999999;
}
.sitemap {
  padding-left: 2%;
}
.sitemap-sm {
  padding-left: 7.5%;
}
.sitemap-xs {
  padding-left: 10%;
}
.softdemo-xs {
  padding-left: 10%;
}

/* CUSTOMIZE THE MISC
-------------------------------------------------- */



/***  NICK'S HACKS  ****/
pre {
  font-size: 1.0em;
}

.navbar-link {
  margin:0px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
}

.triage-3 {
  color: #5CB85C;  
  font-weight: bold;  
}

.triage-2 {
  color: #F0AD4E;  
  font-weight: bold;  
}

.triage-1 {
  color: #D9534F;  
  font-weight: bold;  
}

.patient-number {
  font-weight: bold;  
}

.patient-biometrics {
  text-align:left;
  font-weight: bold;  
}

.patient-name {
  text-align:left;
}

.patient-gender-text {
  text-align:left;
}

.patient-notes {
  text-align:left;
}

.group-number {
  font-size: 1.5em;
  font-weight: bold;  
}

div.success {
  background-color: #5cb85c;
} 

div.warning {
  background-color: #F0AD4E; 
} 

div.danger {
  background-color: #d9534f; 
} 

i.icon-hidden {
  visibility:hidden; 
}

i {
  cursor:default;
}  

.default-cursor {
  cursor:default;
} 

.table-group-name {
  font-size: 1.2em;
  font-weight: bold;    
}

table.encounter-form td {
  text-align:center;  
}

.text-truncate {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check-in-biometrics {
  width:60px;
}

.encounter-exam-image-wrapper {
  position: relative;
}

.encounter-exam-image-overlay {
  position: absolute;
  top: 30px;
  left: 5px;
  height: 350px;
  width: 1175px;
 /* border: 1px solid #ff0000;*/
  z-index: 1000;
}

#app-encounter-acquire-record {display:none}
#app-encounter-release-record {display:none}


.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.headshot-sm  {
  width:100px;
	margin-right: 10px;
}

.headshot-med  {
  width:140px;
	margin-right: 10px;
}

.headshot-lg  {
  width:180px;
	margin-right: 10px;
}

.button-pad {
  margin-bottom: 10px;
}

.modal-footer {
  margin-top: 0px;
}

.modal-lg {
  width: 100%;
}

.container-scroll {
  background-color: #f8f8f8;
  width: 100%;
  height: 300px;
  overflow: auto;
}

.container-scroll-200 {
  background-color: #f8f8f8;
  width: 100%;
  height: 200px;
  overflow: auto;
  margin-bottom: 15px;
}

.form-element-error {
  color: #bb0000;
  margin:0 0 0 0;
  display:inline;
  clear: both;
  max-width: 250px;
  padding-bottom:0px;
}

/* typeahead */

.twitter-typeahead { 
  width: 100%; 
}

.typeahead, .tt-query, .tt-hint {
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  min-width: 200px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 6px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


#health-trends-chart-canvas {
  margin-top:50px;
  margin-bottom:100px;
  width: 100% !important;
  max-width: 1200px;
  height: auto !important;
}

th.highlighted { background:#FFFF66 }
td.highlighted { background:#FFFF66 }

.form-field-readonly {
  padding-top: 4px;
  padding-left: 6px;
}

.form-control-saved {
  border: 1px solid #EEEEEE;
  padding-top: 4px;
  padding-left: 6px;
  min-height: 32px;
}

.form-control-saved:hover {
  background-color: #FFFFE5;
}

.form-control-closed {
  border: none;
}

.soap-note-field {
  border: 1px solid #EEEEEE;
  height: 120px;
  overflow: auto;
}

.notes-field {
  padding-top: 4px;
  padding-left: 6px;
  min-height: 64px;
}

.medication-delete-control {
  margin-top:30px;  
}

.dx-code-delete-control {
  margin-top:30px;  
}

.tx-code-delete-control {
  margin-top:30px;  
}