{{each(i, item) encounter.dxCodes}}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="encounter-icd9-${id}">DX Code</label>
        <input type="text" class="form-control form-control-unsaved input-sm" id="encounter-icd9-${id}" placeholder="ICD-9 Code">
        <div class="form-control-saved edit-on-select" id="encounter-icd9-saved-${id}" contenteditable="true"></div></div>
      </div>                  
    </div>                  
  </div>
{{/each}}