<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="encounter-question-${id}">Question #${ordinal}</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="encounter-question-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select encounter-question-editable" id="encounter-question-saved-${id}" contenteditable="true"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label for="encounter-response-${id}">Response</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="encounter-response-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select encounter-response-editable" id="encounter-question-saved-${id}" contenteditable="true"></div>
    </div>
  </div>
</div>