<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="encounter-med-${id}">Medication</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="encounter-med-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select encounter-med-editable" id="encounter-med-${id}" contenteditable="true"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="encounter-dose-${id}">Dose</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="encounter-dose-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select encounter-dose-editable" id="encounter-dose-saved-${id}" contenteditable="true"></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="encounter-freq-${id}">Frequency</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="encounter-freq-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select encounter-freq-editable" id="encounter-freq-saved-${id}" contenteditable="true"></div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="badge badge-danger medication-delete-control"><i class="icon-remove"></i></div>
  </div>
</div>