<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="intake-question-${id}">Question #${ordinal}</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="intake-question-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select intake-question-editable" id="intake-question-saved-${id}" contenteditable="true">&nbsp;</div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label for="intake-response-${id}">Response</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="intake-response-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select intake-response-editable" id="intake-question-saved-${id}" contenteditable="true">&nbsp;</div>
    </div>
  </div>
</div>