<div class="row">
  <div class="col-md-12">
     <div class="form-group"><label class="sub-title">Medications</label></div>
  </div>
</div>
<div id="intake-medications-${id}">
{{each(i, item) encounter.patient.hist.intakeMedicationList}}
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="intake-med-${id}">Medication</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="intake-med-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select intake-med-editable" id="intake-med-${id}" contenteditable="true">${medication}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="intake-dose-${id}">Dose</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="intake-dose-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select intake-dose-editable" id="intake-dose-saved-${id}" contenteditable="true">${dose}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="intake-freq-${id}">Frequency</label>
      <input data-id="${id}" type="text" class="form-control form-control-unsaved" id="intake-freq-${id}">
      <div data-id="${id}" class="form-control-saved edit-on-select intake-freq-editable" id="intake-freq-saved-${id}" contenteditable="true">${frequency}</div>
    </div>
  </div>
</div>
{{/each}}
</div>
