{{each(i, item) encounter.txCodes}}
  <div class="row" id="tx-code-${id}">
    <div class="col-md-8">
      <div class="form-group">
        <label for="encounter-cpt-${id}">TX Code</label>
        <input type="text" class="form-control form-control-unsaved input-sm cpt-typeahead" id="encounter-cpt-${id}" placeholder="CPT Code">
        <div class="form-control-saved edit-on-select" id="encounter-cpt-saved-${id}" contenteditable="true"></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="encounter-cpt-modifier-${id}">Modifier</label>
        <select id="encounter-cpt-modifier-${id}" class="form-control form-control-unsaved dual-mode-unsaved cpt-modifier" name="cptModifier"></select>
        <div class="form-control-saved dual-mode-saved" id="encounter-cpt-modifier-saved-${id}"></div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="badge badge-danger tx-code-delete-control" name="${id}"><i class="icon-remove"></i></div>
    </div>
  </div>
{{/each}}