<div id="form-wrapper-basic-info">
 <div class="page-title-background"><div class="page-title">BASIC INFORMATION</div></div>
 <table class="form-table">
 <tr>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">TODAY'S DATE</span>
       <div class="basic-info-input">${currentDate ? currentDate : '___ /___ /___'}</div>
       <div class="item-date-input-legend" style="visibility:${currentDate ? 'hidden' : 'visible'}">
         <span class="date-legend-month">month</span>
         <span class="date-legend-day">day</span>
         <span class="date-legend-year">year</span>
       </div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">CONSULT LOCATION</span>
       <div class="basic-info-input">${encounter.consultLocation}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">Patient's GOV ID # (CEDULA)</span>
       <div class="basic-info-input">${encounter.patient.cred.govtId}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">DOB</span>
       <div class="basic-info-input">${encounter.patient.demo.dob ? dateFormat(encounter.patient.demo.dob, 'mm/dd/yyyy') : '___ /___ /___'}</div>
       <div class="item-date-input-legend" style="visibility:${encounter.patient.demo.dob ? 'hidden' : 'visible'}">
         <span class="date-legend-month">month</span>
         <span class="date-legend-day">day</span>
         <span class="date-legend-year">year</span>
       </div>
     </div>
   </td>
  </tr>
  <tr>
   <td colspan="2">
     <div class="item-wrapper-basic-info">
       <span class="item-label">NOMBRE</span>
       <span class="item-label" style="left:100px">APELLIDO</span>
       <span class="item-label" style="left:150px">SEGUNDO APPELIDO</span>
       <div class="item-nombre-group">
         <span class="basic-info-input">${encounter.patient.cred.firstName}</span>
         <span class="basic-info-input"  style="left:100px">${encounter.patient.cred.lastName}</span>
         <span class="basic-info-input"  style="left:200px">${encounter.patient.cred.additionalName}</span>
       </div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">AGE IN YEARS</span> 
       <span class="item-label" style="padding-left:100px">AGE IN MONTHS</span>
       <div>
         <span class="basic-info-input">${encounter.ageInYears}</span> 
         <span class="basic-info-input"style="padding-left:200px">${encounter.ageInMonths}</span>
       </div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">GENDER</span>
       <div class="basic-info-input">${encounter.patient.demo.gender.code}</div>
     </div>
   </td>
  </tr>
  <tr>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">PHONE</span>
       <div class="basic-info-input">${encounter.patient.demo.primaryPhone}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">COMMUNITY LOCATION</span>
       <div class="basic-info-input">${encounter.community}</div>
     </div>
   </td>
   <td colspan="2">
     <div class="item-wrapper-basic-info">
       <span class="item-label">NOTES</span>
       <div class="basic-info-input">${encounter.notes}</div>
     </div>
   </td>
  </tr>

 </table>
</div>