<div id="form-wrapper-basic-info">
 <div class="page-title-background"><div class="page-title">EXAM</div></div>
 
 <div style="margin-bottom:100px;margin-top:100px">
  <img src="images/human-body-outline1.png" width="350">
  <img src="images/lungs.png" width="350">
  <img src="images/exam_shape.png" width="350">
 </div>
 
 <table class="form-table">
 
   <tr>
    <td colspan="2">
     <div class="item-wrapper-basic-info" style="height:100px">
       <span class="item-label">CVS</span><br>
       <span class="item-label">HS I+II</span>
       <div class="basic-info-input">${object.hs}</div>
     </td>
     <td colspan="2">
       <div class="item-wrapper-basic-info">
         <span class="item-label">RHYTHM</span>
         <div class="form-radio"><input type="radio" {{if object.heartRhythm == 'regular'}}checked{{/if}}><label class="checkbox-label">Regular</label></div>
         <div class="form-radio"><input type="radio" {{if object.heartRhythm == 'irregular'}}checked{{/if}}><label class="checkbox-label">Irregular</label></div>
       </div>
     </td>
   </tr> 
   <tr>
    <td colspan="4">
     <div class="item-wrapper-basic-info" style="height:100px">
       <span class="item-label">LABS</span><br>
       <span class="item-label">Hb</span>
       <span class="item-label" style="left:400px">GLUCOSE</span>
       <span class="item-label" style="left:550px">URINE DIP(+)</span><br>
       <span class="basic-info-input" style="left:20px">${object.hb}</span>
       <span class="basic-info-input" style="left:400px">${object.glucose}</span>
       <span class="basic-info-input" style="left:550px">${object.urineDIP}</span>
     </div>
     </td>
   </tr>
     <tr>
    <td colspan="4">
     <div class="item-wrapper-basic-info">
       <span class="item-label">DIAGNOSIS</span>
       <div class="basic-info-input">${object.diagnosis}</div>
     </div>
     </td>
   </tr>
   <tr>
    <td colspan="2">
    <div class="item-wrapper-basic-info">
       <span class="item-label">DX CODE</span>
       <div class="basic-info-input">${object.dxCode}</div>
     </div>
     </td>
     <td colspan="2">
    <div class="item-wrapper-basic-info">
       <span class="item-label">TX CODE</span>
       <div class="basic-info-input">${object.txCode}</div>
     </div>
     </td>
  </tr>
  
  <tr>
   <td colspan="4">
     <div class="item-wrapper-text-area">
       <span class="item-label">TREATMENT PLAN</span>
       <p class="item-actions-taken-input paragraph-input">${object.treatmentPlan}</p>
     </div>
   </td>
  </tr>
  
     <tr>
     <td colspan="4">
     <div class="item-wrapper-basic-info">
       <span class="item-label">TREATING PROVIDER NAME</span>
       <div class="basic-info-input">${object.providerName}</div>
     </div>
     </td>
   </tr>
 
 </table>
</div>