<div id="form-wrapper-basic-info">
 <div class="page-title-background"><div class="page-title">PROGRESS NOTE - ${dateFormat(object.date, 'mm/dd/yyyy')}</div></div>
 <table class="form-table">
 <tr>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">SUBJECT</span>
       <div class="basic-info-input">${object.subject}</div>
     </div>
   </td>
 </tr>
 <tr>
    <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">NOTE</span>
       <div class="basic-info-input">${object.content}</div>
     </div>
   </td>
  </tr>

 </table>
</div>