<div id="form-wrapper-basic-info">
 <div class="page-title-background"><div class="page-title">VITALS</div></div>
 <table class="form-table">
 <tr>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">HEIGHT</span>
       <div class="basic-info-input">${encounter.vitals.height}</div>
     </div>
   </td>
    <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">WEIGHT</span>
       <div class="basic-info-input">${encounter.vitals.weight}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">SYS</span>
       <div class="basic-info-input">${encounter.vitals.systolic}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">DIA</span>
       <div class="basic-info-input">${encounter.vitals.diastolic}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">HR</span>
       <div class="basic-info-input">${encounter.vitals.pulse}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">RR</span>
       <div class="basic-info-input">${encounter.vitals.respiration}</div>
     </div>
   </td>
   <td>
     <div class="item-wrapper-basic-info">
       <span class="item-label">TEMP (C)</span>
       <div class="basic-info-input">${encounter.vitals.temperature}</div>
     </div>
   </td>
  </tr>

 </table>
</div>