<div id="form-wrapper-basic-info">
 <div class="page-title-background"><div class="page-title">EXAM</div></div>
 
 <div style="margin-bottom:100px;margin-top:100px">
  <img src="images/human-body-outline1.png" width="350">
  <img src="images/lungs.png" width="350">
  <img src="images/exam_shape.png" width="350">
 </div>
 
 <table class="form-table">
 
   <tr>
    <td colspan="2">
     <div class="item-wrapper-basic-info" style="height:100px">
       <span class="item-label">CVS</span><br>
       <span class="item-label">HS I+II</span>
       <div class="basic-info-input">${encounter.exam.hs}</div>
     </td>
     <td colspan="2">
       <div class="item-wrapper-basic-info">
         <span class="item-label">RHYTHM</span>
         <div class="form-radio"><input type="radio" {{if encounter.exam.heartRhythm == 'regular'}}checked{{/if}}><label class="checkbox-label">Regular</label></div>
         <div class="form-radio"><input type="radio" {{if encounter.exam.heartRhythm == 'irregular'}}checked{{/if}}><label class="checkbox-label">Irregular</label></div>
       </div>
     </td>
   </tr> 
   <tr>
    <td colspan="4">
     <div class="item-wrapper-basic-info" style="height:100px">
       <span class="item-label">LABS</span><br>
       <span class="item-label">Hb</span>
       <span class="item-label" style="left:400px">GLUCOSE</span>
       <span class="item-label" style="left:550px">URINE DIP(+)</span><br>
       <span class="basic-info-input" style="left:20px">${encounter.lab.hb}</span>
       <span class="basic-info-input" style="left:400px">${encounter.lab.glucose}</span>
       <span class="basic-info-input" style="left:550px">${encounter.lab.urineDIP}</span>
     </div>
     </td>
   </tr>
       <tr>
    <td colspan="4">
     <div class="item-wrapper-basic-info">
       <span class="item-label">DIAGNOSIS</span>
       <div class="basic-info-input">${encounter.exam.diagnosis}</div>
     </div>
     </td>
   </tr>
   <tr>
   <td colspan="2">
   {{each(i, item) encounter.dxCodes}}
  <div class="item-wrapper-basic-info">
    <table class="form-table">
    <tr>
    <td>
      <span class="item-label">DX CODE</span>
      <div class="basic-info-input">${icd9}</div>
    </td>
    </tr>
    </table>
  </div>
{{/each}}
  </td>
  </tr>
  <tr>
   <td colspan="4">
     <div class="item-wrapper-text-area">
       <span class="item-label">TREATMENT PLAN</span>
       <p class="item-actions-taken-input paragraph-input">${encounter.exam.treatmentPlan}</p>
     </div>
   </td>
      <td colspan="2">
   {{each(i, item) encounter.txCodes}}
  <div class="item-wrapper-basic-info">
    <table class="form-table">
    <tr>
    <td>
      <span class="item-label">TX CODE</span>
      <div class="basic-info-input">${cpt}</div>
    </td>
    <td>
      <span class="item-label">MODIFIER</span>
      <div class="basic-info-input">${cptModifier}</div>
    </td>
    </tr>
    </table>
  </div>
{{/each}}
  </td>
  </tr>
  
     <tr>
     <td colspan="4">
     <div class="item-wrapper-basic-info">
       <span class="item-label">TREATING PROVIDER NAME</span>
       <div class="basic-info-input">${encounter.exam.providerName}</div>
     </div>
     </td>
   </tr>
 
 </table>
</div>